[submodule "deps/halpp"]
	path = deps/halpp
	url = https://github.com/tapted/halpp.git
	branch = main
[submodule "deps/espbase"]
	path = deps/espbase
	url = https://github.com/tapted/espbase.git
	branch = main
[submodule "deps/happy"]
	path = deps/happy
	url = https://github.com/tapted/happy.git
	branch = main
